<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Signupform.Properties.Settings.bakeshopConnectionString"
            connectionString="Data Source=LAPTOP-2S9RV31K\SQLEXPRESS;Initial Catalog=bakeshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>